#contato{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


#contato .dados h2{
    margin: 1em 0;
    color: var(--cor-titulo);
    font-weight: 700;
}

#contato .dados h3{
    color: gray;
}

#contato .dados a, #contato .dados p {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

#contato .dados a:hover, #contato .dados p:hover{
    color: rgb(185, 185, 185);
}

#contato .dados .contato-icone{
    margin-right: .5em;
}