#inicio {
    background: var(--cor-de-fundo-home);
    display: grid;
    padding-top: 55px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#inicio .conteudo h1{
    color: black;
    background-image: var(--cor-titulo);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 0;
}

#inicio .conteudo h2{
    color: rgb(168, 168, 168);
}

#inicio .botao-curriculo {
    text-decoration: none;
    color: white;
    background: #2075ad;
    padding: 1em;
    border-radius: 7px;
}

#inicio .botao-curriculo:hover{
    background-color: #59afe9;
}

#inicio .imagem img {
    height: 570px;
}

