.cardprojetos {
    position: relative;
    background-color: #525252;
    width: 100%;
    height: 480px;
    border-radius: 7px;
}

.cardprojetos .cabecalho{
    position: relative;
    overflow: hidden;
    border-bottom: 8px solid var(--cor-titulo);
    transition: .5s;
}

.cardprojetos .cabecalho:hover{
    border-bottom: 8px solid #007205;
}

.cardprojetos .cabecalho img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.cardprojetos .cabecalho img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cardprojetos .rodape {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cardprojetos .rodape a {
    text-decoration: none;
}

.cardprojetos .rodape .git {
    margin: .3em .3em .3em 0;
    font-size: 20px;
}

.cardprojetos .rodape .git-link {
    color: black;
}

.cardprojetos .rodape .git-link:hover {
    color: white;
}

.cardprojetos .rodape h3 {
    color: white;
}

.cardprojetos .rodape h3:hover {
    color: rgb(182, 182, 182);
}

.cardprojetos .rodape h4 {
    color: rgb(197, 197, 197);
}

.cardprojetos .tecnologia {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1em 1em 1em;
}

.cardprojetos .tecnologia h5 {
    color: var(--cor-titulo);
}