#sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 4em 6em;
    background-color: var(--cor-de-fundo-secundaria);
}

#sobre .imagem {
    padding: 2em;
}

#sobre .imagem img {
    border-radius: 30px;
}

#sobre .conteudo {
    text-align: center;
    padding: 2em;
    color: gray;
}

#sobre .conteudo h2 {
    color: var(--cor-titulo);
    font-weight: 700;
    margin-bottom: 1em;
}

#sobre .conteudo h4 {
    font-size: 22px;
    line-height: 1.5;
}

@media screen and (max-width: 900px) {

    #sobre {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 2em 1em;
    }
    
    #sobre .imagem {
        display: none;
    }
}