#projetos {
    background-color: var(--cor-de-fundo-secundaria);
    padding: 2em ;
}

#projetos h2 {
    color: var(--cor-titulo);
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

#projetos ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

#projetos ul li{
    padding: 2em;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    
    #projetos{
        padding: 2em 1em;
    }

    #projetos ul{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 425px) {

    #projetos ul{
        display: flex;
        flex-wrap: wrap;
    }

    #projetos ul li{
        padding: 1em .5em;
    }
    
}
