#habilidades {
    text-align: center;
    padding: 3em;
}

#habilidades h2 {
    color: black;
    background-image: var(--cor-titulo);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 1em;
}

#habilidades ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#habilidades ul li .logo{
    font-size: 125px;
    margin: .3em;
}

#habilidades ul li h3{
    color: gray;
}

#habilidades ul li .logo-html:hover{
    color: #EC6231;
}

#habilidades ul li .logo-css:hover{
    color: #1e42ce;
}

#habilidades ul li .logo-javascript:hover{
    color: #f0db4f;
}

#habilidades ul li .logo-react:hover{
    color: #61dbfb;
}

#habilidades ul li .logo-bootstrap:hover{
    color: #553c7b;
}

#habilidades ul li .logo-git:hover{
    color: #d8d8d8;
}
